.post-type-archive-projects{

	.section--search-projects{ 
		background-image: linear-gradient(to bottom, rgba($cyan, .75), rgba($cyan, 0));
		padding-top: 4rem;

		.project-search {
			display: flex;
			flex-flow: row wrap;
			gap: $grid-gutter-width;
			width: 100%;
			align-items: center;
			justify-content: center;

			&__option {
				width: 100%;
				height: 40px;
				display: flex;
				align-items: stretch;
			}

			select, input {
				background-color: $white;
				border: 0;
				border-radius: 3px;
				height: 100%;
				color: #000;
				width: 100%;

				&::placeholder,
				&::disabled {
					font-weight: 400;
					color: #000;
				}
			}

			.reset-container {
				height: 3.125rem; 
			}
		}
	}

	#no-results,
	.btn-reset {
		display: none;
	}
}
