<form class="d-flex flex-column mt-3" role="search">
	<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="s">
	<button class="btn btn-success mt-2" type="submit">Search</button>
</form>
