<div class="animated-circles">
	<div class="circle circle--red ratio ratio-1x1">
	</div>
	<div class="circle circle--yellow ratio ratio-1x1">
	</div>
	<div class="circle circle--blue ratio ratio-1x1">
	</div>
</div>
