{% extends "base.twig" %}

{% block content %}


	<h1 class="text-center"><span class="question-mark">??</span>Sorry, we couldn't find what you're looking for.</h1>

	<a class="btn btn-warning border-dark rounded-pill pt-2" href="/">Go back to home</a>
{% endblock %}