footer {
	padding: 1rem 0;
	background-color: $black;
	color: $white;

	h2 {
		font-size: $h5-font-size;
		font-family: $headings-font-family;
	}

	.nav {
		.nav-item {

			&:not(:first-child) {	
				border-left: solid 1px $white;
				margin-left: .5rem;
				padding-left: .5rem;
			}

			.nav-link {
				color: $white;
				font-size: .85rem;
				font-family: $headings-font-family;
				font-weight: 400;
				padding: 0;
		
				&:hover {
					color: darken($white, 20%);
					text-decoration: underline;
				}
			}
		}
	}
}
