.section--contact {
	
	&__form {
		.wpcf7 {
			form {
		
				p {
					width: 100%;
				}
		
				label {
					width: 100%;
		
					span.label {
						display: none;
						
					}
				}

				input[type="text"],
				input[type="email"] {
					padding: .5rem;
					width: 100% !important;

					&::placeholder {
						color: $gray-600;
						opacity: .75;
					}
				}

				textarea {
					height: 6rem;
					padding: .5rem;
					width: 100% !important;

					&::placeholder {
						color: $gray-600;
						opacity: .75;
					}
				}
		
				.wpcf7-submit {
					margin: 1rem 0;
				}
			}
		}
	}

	&__details {
		background-color: $dark;
		border-radius: .5rem;
		color: $white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 2.25rem;
		width: 100%;

		&__links {
			display: flex;
			flex-flow: column nowrap;
			list-style: none;
			margin-bottom: 1.5rem;
			padding-left: 0;
			row-gap: 1.5rem;

			li {
				.social-icon {
					margin-bottom: 0;
					display: flex;
					column-gap: .5rem;
					color: #CACACA;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}

					&::before {
						content: ' ';
						display: block;
						margin-right: .5rem;
						height: 1.5rem;
						width: 1.5rem;

					}

					&__github::before {
						background: center / cover no-repeat url($image-directory + 'github-mark-white.svg');
					
					}

					&__linkedin::before {
						background: center/ cover no-repeat url($image-directory + 'LinkedIn_icon.svg');
					}

					&__telephone::before {
						background: center/ cover no-repeat url($image-directory + 'telephone.svg');
					}
				}
			}
		}
	}
}