{% set src   = 'projects' == archive_post_type ? 'https://jasonvanstone.com/portfolio/wp-content/uploads/2024/08/past-projects-banner.webp' : post ? post.thumbnail.src : null %}
{% set title =  title ? title : post ? post.title : null %}

{% if src %}
	<div class="banner banner--{{template}}">
		<div class="banner__background-image">
			<img src="{{ src }}" />
		</div>
		<div class="banner__content">
			{% if 'post' != post.post_type %}
				<h1 class="banner__heading">{{title}}</h1>
			{% endif %}
		</div>
	</div>
{% endif %}

{% if 'projects' == archive_post_type %}
	{% include "components/search-projects.twig" %}
{% endif %}
