<!-- Modal -->
<div class="modal fade" id="viewResume" tabindex="-1" aria-labelledby="viewResumeLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<h5 class="modal-title text-light" id="viewResumeLabel">Resume</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% for resume in latest_resume %}
					{% if resume.page_1  %}
						<img class="img-fluid" src="{{ Image( resume.page_1 ) }}" alt="Jason Vanstone's Resume part 1 of 2"/>
					{% endif %}
					{% if resume.page_2  %}
						<img class="img-fluid" src="{{ Image( resume.page_2 ) }}" alt="Jason Vanstone's Resume part 2 of 2"/>
					{% endif %}
				{% else %}
					<p>There are no resumes found at this time.</p>
				{% endfor %}
			</div>
			<div class="modal-footer bg-dark">
				<button type="button" class="btn btn-warning border-warning rounded-pill pt-2" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>