<nav id="nav-main" class="navbar navbar-dark bg-dark" role="navigation">
	<div class="container">
		<a class="navbar-brand" href="{{site.url}}">{{site.title}}</a>

		<div class="language-menu ms-auto me-3 d-none d-md-block">
			{% set language_items = language.get_items %}
			{% include "utilities/make-menu.twig" with { items: language_items, location: 'language' } %}
		</div>
		
		<button class="navbar-toggler primary-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPrimary" aria-controls="offcanvasPrimary" aria-label="Main Menu">
			<span></span>
			<span></span>
			<span></span>
		</button>

		<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasPrimary" aria-labelledby="offcanvasPrimaryLabel">
			<div class="offcanvas-header">
				<h3 class="offcanvas-title" id="offcanvasPrimaryLabel">{{site.title}}</h3>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				{% set primary_items = primary.get_items %}
				{% include "utilities/make-menu.twig" with { items: primary_items, location: 'primary' } %}

{# 				<form class="d-flex mt-3" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-success" type="submit">Search</button>
				</form> #}

				<hr class="my-5"/>

				{% include "common/social-icons.twig" %}

				<hr class="my-5"/>

				<div class="language-menu">{% include "utilities/make-menu.twig" with { items: language_items, location: 'language' } %}</div>

			</div>
		</div>
	</div>
</nav>
<!-- #nav -->