<div class="banner banner--home">
	<div class="banner__background-image">
		<img src="{{ post.thumbnail.src }}" class="my-thumb-class" alt="Image for {{ post.title }}" />
	</div>
	<div class="banner__content">
		<h1 class="banner__h1">{{post.title}}</h1>
	</div>
</div>