<section id="featured-posts" class="section--featured-posts  wow slideInUp">
	
	<div class="container">

		<h2 class="section-heading section-heading--red mb-4"><span>{{ __('Featured Posts') }}</span></h2>

		<div class='section--featured-posts__slider mx-3 px-1 px-md-3'>
				
			{% for post in featured_posts %}

				{% include "utilities/tease-post.twig" %}

			{% endfor %}
		</div>
	</div>
</section>