{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			{% for post in posts %}
				<div class="post-wrapper col-12 col-md-4">
					{% include ['utilities/tease-'~post.post_type~'.twig', 'utilities/tease.twig'] %}
				</div>
			{% endfor %}
	
				{% include 'utilities/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
			</div>
		</div>
	</div>
{% endblock %}
